@font-face{
	font-family: Berlin;
	font-weight: bold;
	src: url(../fonts/berlin-sans-fb-demi-bold.ttf) format("truetype");
}

@font-face{
	font-family: HelveticaNeue;
	font-weight: bold;
	src: url(../fonts/HelveticaNeueLTStd-BdCn.otf) format("opentype");
}

.small{
	font-size: 10px;
}

.mtop{
	margin-top: 10px;
}

div.card{
	position:relative;
	background-image: url('../img/front.png');
	background-size: 311px 434px;
	width: 311px;
	height: 434px;
}

div.card .name{
	position: absolute;
	top: 14px;
	left: 15px;
	
	font-family: Berlin;  
	font-weight: bold;
	font-size: 19px;  

	text-transform:uppercase;
  color: #fff;
  text-shadow: 0px 1.5px 2px #395858, 0px -1.5px 2px #395858, 1.5px 0px 2px #395858, -1.5px 0px 2px #395858; 

	z-index: 2;
}

div.card .name.unique{
   color: rgb(255, 180, 70);;
}

div.card .nameShadow{
	color: #F70;
	text-shadow: 0px 0px 5px #000;
	z-index: 1;
}

div.card .classes{
	position: absolute;
	top: 35px;
	left: 17px;
	font-size: 9px;
	font-weight: bold;
}

div.card .lvl{
	position: absolute;
	top: 14px;
	right: 11px;
	width: 37px;
	height: 36px;
	background: transparent url(../img/lvl_tile.png);
	z-index: 10;
}

div.card .lvl1{	background: url(../img/lvl_tile.png) 0 0 no-repeat;}
div.card .lvl2{	background: url(../img/lvl_tile.png) -37px 0 no-repeat;}
div.card .lvl3{	background: url(../img/lvl_tile.png) -74px 0 no-repeat;}
div.card .lvl4{	background: url(../img/lvl_tile.png) -111px 0 no-repeat;}
div.card .lvl5{	background: url(../img/lvl_tile.png) -148px 0 no-repeat;}
div.card .lvl6{	background: url(../img/lvl_tile.png) -185px 0 no-repeat;}

div.card .face{
	position: absolute;
	width: 130px;
	height: 150px;
	right: 0;
	background-repeat: no-repeat;
}

#stats{
  top: 50px;
  left: 10px;
  width: 195px;
  height: 80px;
  position: absolute;
}

#init{
  position: absolute;
  text-align: center;
  width: 20px;
  top: 60px;
  left: 13px;
}
#stats #PM, #stats #PV, #stats #PA{
  position: relative;
  width: 61px;
  top: 36px;
  text-align: center;
  float: left;
}

#stats #PM{
  text-shadow: 0px 1px 3px #537d26, 0px -1px 3px #537d26, 1px 0px 3px #537d26, -1px 0px 3px #537d26;
}
#stats #PV{
  text-shadow: 0px 1px 3px #cc172f, 0px -1px 3px #cc172f, 1px 0px 3px #cc172f, -1px 0px 3px #cc172f;
}
#stats #PA{
  text-shadow: 0px 1px 3px #095b95, 0px -1px 3px #095b95, 1px 0px 3px #095b95, -1px 0px 3px #095b95;
}

#stats label{
  margin-top: -5px;
  margin-left: 5px;
}

.wnum{
  color: #fff;
  font-family: HelveticaNeue;  
  font-weight: bold;  
  text-shadow: 0px 1px 1px rgb(200, 115, 20),0px -1px 1px rgb(200, 115, 20),1px 0px 1px rgb(200, 115, 20),-1px 0px 1px rgb(200, 115, 20);
}

.bnum{
  color: #fff;
  font-family: HelveticaNeue;  
  font-weight: bold;  
  font-size: 35px;
}

.snum{
  color: #fff;
  font-family: HelveticaNeue;  
  font-weight: bold;  
  font-size: 10px;
}

/* EDIT PART */

label.aligned{
 	width:45px;
	margin-bottom: 10px;
}
label{
	margin-right:5px;
}
input.input-min{ width:24px;}

